body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}


/* Navigation bar section -complete */

.navbar-top {
    background-color: #1F2937;
}

.section-one {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
}

/* selects the first element of the parent ul element*/
.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}
/* End navigation section*/

/*Start first section*/

h1 {
    text-align: center;
    margin: 42px 0 0 0;
}

.header-two {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    height: 350px;
    background-color: #1F2937;
}

.container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 410px;
    height: 0;
    min-height: 50%;
}

/*makes image strech without overflowing
reference - https://stackoverflow.com/questions/42021716/force-image-inside-flexbox-container-to-fill-cover-100 */
.container-two, img {
    display: flex;    
    align-items: center;
    justify-content: center;   
    width: 410px;
    height: 200px;
    min-height: 70%;
}

.header-two-text {
    padding: 12px 12px 12px 0;
    color: #fff;
}

.header-two-text:first-child {
    font-size: 36px;
    font-weight: bold;
}

button {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #3882F6;
    padding: 8px 24px;
    width: 100px;
    height: 50px;
  }
  
/* End second section*/

/*Start section two (images section)*/

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 50px;
    height: 400px;
    
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 55px;
   
}

.image,
.card {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}



.card p {
    word-wrap: break-word;
    text-align: center;
}

/* End images section*/

/*Start section 3*/

.section-three {
    background-color: #e5e7eb;
    height: 400px;
    margin-top: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

}

/*target second paragraph in quote-container*/

.cool-quote-one {
   font-size: 52px;
   font-weight: lighter;
   flex-basis: 100%;
}
.cool-quote-two {
    font-size: 26px;
    font-weight: bold;
}

