body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}


/* Navigation bar section -complete */

.navbar-top {
    background-color: #1F2937;
}

.section-one {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 32px;
}

.nav-item {
    list-style: none;
    margin-right: 2rem;
    font-size: 18px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
}

/* selects the first element of the parent ul element*/
.nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
}
/* End navigation section*/

/*Start first section*/

h1 {
    text-align: center;
    margin: 42px 0 0 0;
}

.card p {
    font-size: 18px;
}

.header-two {
    display: flex;
    justify-content: center;
    gap: 48px;
    align-items: center;
    min-height: 450px;
    background-color: #1F2937;
    padding-bottom: 82px;
}

.container-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 410px;
    height: 0;
    min-height: 50%;
}

/*makes image strech without overflowing
reference - https://stackoverflow.com/questions/42021716/force-image-inside-flexbox-container-to-fill-cover-100 */
.container-two, img {
    display: flex;    
    align-items: center;
    justify-content: center;   
    width: 410px;
    height: 200px;
    min-height: 70%;
}

.header-two-text {
    padding: 12px 12px 12px 0;
    color: #fff;
}

.header-two-text:first-child {
    font-size: 36px;
    font-weight: bold;
}

button {
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #3882F6;
    padding: 8px 24px;
    width: 100px;
    height: 50px;
  }
  
/* End second section*/

/*Start section two (images section)*/

.section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 50px 40px 50px;
    min-height: 450px;
    
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 55px;
   
}

.image,
.card {
    width: 200px;
    height: 200px;
    border-radius: 25px;
}



.card p {
    word-wrap: break-word;
    text-align: center;
}

/* End images section*/

/*Start section 3*/

.section-three {
    background-color: #e5e7eb;
    min-height: 450px;
    margin: 82px 0 82px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 42px 0 72px 0;
    padding-bottom: 42px;

}

/*target second paragraph in quote-container*/

.cool-quote-one {
   font-size: 52px;
   font-weight: lighter;
   flex-basis: 100%;
}
.cool-quote-two {
    font-size: 22px;
    font-weight: bold;
}

/*Start of section four (last section)*/
.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    margin: 82px 0 82px 0;
    
}


.call-to-action {
    display: flex;
    flex:1;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin-bottom: 102px;
    padding: 20px;
    max-width: 1075px;
    height: 102px;
    border-radius: 8px;

}

.call-to-para {
    color: #fff;
    padding-right: 32px;
    font-size: 18px;
}

.call-to-para p:first-child {
    font-size: 26px;
    font-weight: bold;
    line-height: 0;
}


.call-to-action button {
    border-radius: 8px;
    border: 3px solid #fff;
    width: 140px;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 62px;
    font-size: 18px;
    color: #fff;
}